body {
	padding-top: 51px;
	background-color: #FFF !important;
	color: #1c1935 ;
}
a {
	color: #2faa9d;
}

h2 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #2faa9d;
}
.list {
	padding-left: 0px;
	text-align: center;
	list-style: none;
}
.list li {
	margin-bottom: 1em;
}
.list a {
	text-decoration: underline;
}


#sidebar {
	height: 100%;
	padding-right: 0;
	padding-top: 20px;
}
#sidebar .nav {
	width: 95%;
}
#sidebar li {
	border: 0 #f2f2f2 solid;
	border-bottom-width: 1px;
}
/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-right .sidebar-offcanvas {
		right: -41.6%;
	}
	.row-offcanvas-left .sidebar-offcanvas {
		left: -41.6%;
	}
	.row-offcanvas-right.active {
		right: 41.6%;
	}
	.row-offcanvas-left.active {
		left: 41.6%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 41.6%;
	}
	#sidebar {
		padding-top: 0;
	}
}
